BUGSNAG_KEY="your_bugsnag_key"
GOOGLE_SAFE_BROWSING_API_KEY="your_google_safe_browing_api_key"
TURSO_DB_TABLE="your_turso_table"
TURSO_AUTH_TOKEN="your_turso_auth_token"
TURSO_DATABASE_URL="https://your_turso_db_url"
VITE_ABSTRACT_GEO_IP_API_KEY="your_abstract_geo_ip_api_key"
VITE_BUGSNAG_KEY="your_bugsnag_key"
