@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Graduate'), local('Graduate-Regular'), url(https://fonts.gstatic.com/s/graduate/v7/C8cg4cs3o2n15t_2YygW43yvZxn3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  /* cornell colors from style guide: https://brand.cornell.edu/design-center/colors/ */
    /* primary palette */
      --carnellian: #b31b1b; /* cornell seal, banners and backgrounds, headlines */
      --dark-grey: #222; /* cornell seal, banners and backgrounds, headlines, and body text */
      --white: #fff; /* cornell seal, banners and backgrounds, headlines, or body text on dark backgrounds */
      --light-grey: #f7f7f7; /* backgrounds, secondary text on dark backgrounds */
    /* secondary palette */
      --blue-links: #006699; /* links and buttons */
      --green-graphics: #6eb43f; /* highlights important areas but is used sparingly: visual style elements, such as line breaks or color blocks without text; small fill areas */
      --green-text: #4b7b2b; /* highlights important areas but is used sparingly: visual style elements, such as line breaks or color blocks without text; small fill areas */
      --green-large-text: #578e32; /* highlights important areas but is used sparingly: visual style elements, such as line breaks or color blocks without text; small fill areas */
      --orange-graphics: #f8981d; /* highlights important areas but is used sparingly: visual style elements, such as line breaks or color blocks without text; small fill areas */
      --orange-large-text: #d47500; /* highlights important areas but is used sparingly: visual style elements, such as line breaks or color blocks without text; small fill areas */
      --red-graphics: #ef4035; /* highlights important areas but is used sparingly: visual style elements, such as line breaks or color blocks without text; small fill areas */
      --red-text: #df1e12; /* highlights important areas but is used sparingly: visual style elements, such as line breaks or color blocks without text; small fill areas */
      --navy: #073949; /* neutral bg areas */
      --dark-warm-grey: #073949; /* neutral bg areas */
      --sea-grey: #9fad9f; /* neutral bg areas */
    /* additional colors */
      --med-grey: #bbb;
    /* Modify these to change your theme colors: */
      --primary: var(--carnellian);
      --text: var(--light-grey);
}

* {
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

body {
  background-color: var(--carnellian);
  color: var(--white);
}

.page-title {
  margin-bottom: 50px;
  font-family: 'Graduate', cursive;
}

.url-input {
  border: 1px solid var(--dark-grey);
  margin-bottom: 3em;
}

.url-input::placeholder, .url-input::-webkit-input-placeholder {
  font-size: large;
}

.btn-shorten {
  border: 1px solid var(--dark-grey);
  background-color: var(--dark-grey);
  color: var(--white);
}

.result {
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  border-radius: 5px;
  margin: 0 auto;
  font-size: larger;
  font-weight: normal;
  padding: 20px;
  text-align: center;

  a {
    font-size: larger;
  }

  a.result-link:hover {
    color: var(--red-graphics);
    text-decoration: underline;
  }

  a.result-link {
    color: var(--light-grey);
    text-decoration: none;
  }
}

.clipboard-link {
  color: var(--red-graphics);
  cursor: pointer;
}

.btn:hover {
  color: var(--red-graphics);
}
